[Unit]
Description=Streamlit app to improve text with an LLM.
After=network.target

[Service]
WorkingDirectory=/srv/clarity
ExecStart=make run

[Install]
WantedBy=multi-user.target
